.App {
  text-align: center;
}
/* ----nav---- */
.nav{
  font-size:1.5em;
}
.iconos{
  font-size: 1.5em;
}
 /* ----main----- */
#main{
  height:100vh; 
  background-color: #0A2647;
}
.profilepic{
  width: 40vh
}
.locationsvg{
  height: 2rem;
}

/* ----about---- */

#about{
  background-color: #205295;
  height: 100vh;
}
.about-img{
  height: 10vw;
}

.skill{
  width: auto;
}
.skillcard{
  height: 20vh;
  width: 20vh;
}
.skillcard img{
  height: 15vh;
  width: 15vh;
}



/* ---projects----- */
#projects{
  height: 100vh;
  
  background-color: #144272;
}


 .project{
  
  height: 30vh;
  opacity: 90%;
} 
.card-img{

  object-fit: fill;
  overflow: hidden;
}



@media (orientation: portrait) {

  .icon{
    width: 5vw;
    
  }
  #about {
    flex-direction: column;
    padding-top: 0vh !important;
  }
  .skillcard{
    height: 10vh;
    width: 10vh;
  }
  .skillcard img{
    height: 7.5vh;
    width: 7.5vh;
  }
  
  .aboutme{
    margin-top: 1vh !important;
    margin-bottom: 1vh !important;
  }
  .about-img{
    display: none;
  }
  .project{
  
    height: 15vh;
    opacity: 70%;
    margin-left: 3vw !important;
  } 
  #contact-icons {
    display: flex !important;
    flex-direction: row !important;
  }
 
}

/* ---------contact-------- */

#contact{
  height: 30vh;
  background-color: #0A2647;
  background-image: url('../public/Assets/dguy.png');
  background-repeat: no-repeat;
  background-size: contain;
}
  #contact .iconos{
    font-size: 2.5em;
  }
