.App {
  text-align: center;
}

.main{
  height:100vh;
  background-color: rgb(13, 44, 56);
  color: rgb(184, 184, 184)
}
.profilepic{
  width: 40vh
}

.projects{
  height: 100vh;
  
  background-color: rgb(40, 77, 92);
}


.project{
  width: 25vw;
  height: 40vh;
  opacity: 90%;
}

/* ---------about-------- */
#about{
  background-color: rgb(66, 102, 136);
  height: 100vh;
}
.skill{
  width: 20vw;
}
.skill img{
  height: 10vh;
  width: 10vh;
}
.skil .card-body{
 
}
.progress-bar{
  width: 75%;
}

/* ---------contact-------- */

.contact{
  height: 40vh;
  background-color: rgb(13, 44, 56);
  background-image: url('../public/Assets/dguy.png');
  background-repeat: no-repeat;
}
.icon{
  height: 8vh;
}
