.App {
  text-align: center;
}

#main{
  height:100vh; 
  background-color: rgb(7, 70, 95);
  color: rgb(184, 184, 184)
}
.profilepic{
  width: 40vh
}
.locationsvg{
  height: 2rem;
}

#projects{
  height: 100vh;
  
  background-color: rgb(7, 77, 92);
}


 .project{
  
  height: 30vh;
  opacity: 90%;
} 
.card-img{
  height:20vh;
  width: auto;
}

/* ---------about-------- */
#about{
  background-color: rgb(4, 55, 80);
  height: 100vh;
}
.about-img{
  height: 10vw;
}
@media (orientation: portrait) {

  .icon{
    width: 5vw;
    
  }
  #about {
    flex-direction: column;
    padding-top: 0vh !important;
  }
  .aboutme{
    margin-top: 1vh !important;
    margin-bottom: 1vh !important;
  }
  .about-img{
    display: none;
  }
  .project{
  
    height: 15vh;
    opacity: 70%;
    margin-left: 3vw !important;
  } 
}
.skill{
  width: auto;
}
.skill img{
  height: 10vh;
  width: 10vh;
}

.progress-bar{
  width: 75%;
}

/* ---------contact-------- */

#contact{
  height: 40vh;
  background-color: rgb(13, 44, 56);
  background-image: url('../public/Assets/dguy.png');
  background-repeat: no-repeat;
}
.icon{
  height: 8vh;
}
